@font-face{
  font-family:space;
  src: url("../public/fonts/SpaceGrotesk-Medium.ttf");
}
@font-face{
  font-family:spacelight;
  src: url("../public/fonts/SpaceGrotesk-Light.ttf");
}
@import "tailwindcss";

@theme{
  --font-space: space,'sans-serif';
  --font-spacelight: spacelight,'sans-serif';

}
